/node_modules
/public/kh
/storage
/vendor
/website
/web
/japan
/bootstrap/cache
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/public/export
.vscode
.DS_Store
